{
    "openapi": "3.0.0",
    "info": {
        "title": " OpenApi Documentation",
        "description": "L5 Swagger description",
        "contact": {
            "email": "admin@admin.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://gci-db.com/api/",
            "description": "Demo API Server"
        }
    ],
    "paths": {
        "/get-item-list": {
            "post": {
                "tags": [
                    "Release"
                ],
                "summary": "Releases",
                "description": "Get List of released.<br><br>\n\t `previous_release_id` release ID from API <br><br>\n\t `license_key` system will validate, if its valid only then it will proceed and return the data. <br><br>\n\t `type` there are two type of options are available `comics`,`board-games` <br><br>\n\t `internal_request` this parameter is eligible when Wordpress Woocommerce will request data.<br>\n\t ",
                "operationId": "released_data",
                "requestBody": {
                    "description": "Get API release JSON and ZIP Files",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "previous_release_id",
                                    "license_key"
                                ],
                                "properties": {
                                    "previous_release_id": {
                                        "type": "string",
                                        "example": "1"
                                    },
                                    "previous_request_date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "license_key": {
                                        "type": "string",
                                        "example": "AD65a4d65aS6d54"
                                    },
                                    "type": {
                                        "type": "string",
                                        "example": "comics"
                                    },
                                    "internal_request": {
                                        "type": "boolen",
                                        "example": "true"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Wrong credentials response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong email address or password. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-file": {
            "post": {
                "tags": [
                    "Release Single File"
                ],
                "summary": "Release Single File",
                "description": "Get release file information by sending ID of file. <br><br>\n\t `file_id` id of file which user request <br><br>\n\t `license_key` system will validate, if its valid only then it will proceed and return the data. <br><br>\t \n\t `internal_request` this parameter is eligible when Wordpress Woocommerce will request data.<br>",
                "operationId": "Release Single File",
                "requestBody": {
                    "description": "Get API release JSON and ZIP Files",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "file_id",
                                    "license_key"
                                ],
                                "properties": {
                                    "file_id": {
                                        "type": "string",
                                        "example": "1"
                                    },
                                    "license_key": {
                                        "type": "string",
                                        "example": "AD65a4d65aS6d54"
                                    },
                                    "internal_request": {
                                        "type": "boolen",
                                        "example": "true"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Wrong credentials response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong email address or password. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-other-list": {
            "post": {
                "tags": [
                    "Release"
                ],
                "summary": "Releases",
                "description": "Get List of Category, Brand, genre.<br><br>\n\t `type` there are two type of options are available `category`,`brand`,`genre` <br><br>\n\t ",
                "operationId": "other_list_id",
                "requestBody": {
                    "description": "Get original category, brand data.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "type",
                                    "license_key"
                                ],
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "example": "category"
                                    },
                                    "license_key": {
                                        "type": "string",
                                        "example": "AD65a4d65aS6d54"
                                    },
                                    "internal_request": {
                                        "type": "boolen",
                                        "example": "true"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Wrong credentials response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong email address or password. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/licenses/activate": {
            "post": {
                "tags": [
                    "Activate License Key"
                ],
                "summary": "Releases",
                "description": "Activate license key",
                "operationId": "52b25053405cc9269b8c10f3b3ead33d",
                "requestBody": {
                    "description": "Activate license key",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "license_key"
                                ],
                                "properties": {
                                    "license_key": {
                                        "type": "string",
                                        "example": "API-DSS-PIV-KVB-G5F"
                                    },
                                    "internal_request": {
                                        "type": "boolen",
                                        "example": "true"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Wrong license key response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong license key. Please try again with correct license key"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Data Release",
            "description": "API Endpoints of Projects"
        }
    ],
    "security": [
        []
    ]
}